@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

body{
	background: rgb(209, 213, 219);
	color: black;
	font-size: 32px;
	font-family: Nunito;
	margin: 0;
	display: flex;
	flex-direction: column;
}
nav{
	background: white;
	height: 50px;
	display: flex;
	flex-direction: row;
	z-index: 1;
}
nav a{
	height: 64%;
	width: auto;
	font-size: 19px;
	color: gray;
	font-weight: 400;
	text-decoration: none;
	margin-right: 1%;
	text-align: center;
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
}
nav a:hover{
	border-bottom: 2px solid gray;
}
.container{
	position: relative;
	text-align: center;
	overflow: hidden;
}
.container div{
	position: absolute;
	font-family: Nunito;
	color: white;
	font-size: 48px;
	font-weight: 600;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container .darkner{
	background: black;
	opacity: 0.7;
	width: 100%;
	height: 130%;
}
.container .cap{
	font-size: 18px;
	font-weight: 400;
	top: 50%;
}
main{
	height: 300px;
	background: rgb(209, 213, 219);
	transform: translateY(-10%);
	display: flex;
	flex-direction: row;

}
main content{
	width: 30%;
	height: auto;
	margin-right: 1.5%;
	margin-left: 1.5%;
	background: white;
	top: -20%;
	border-radius: 10px;
	transform: translateY(-10%);
	text-align: center;
	padding-top: 110px;
}
main .c3{font-size: 26px}
main .c2{transform: translateY(-30%);}
main content div{
	width: 70px;
	height: 70px;
	background: rgb(248, 113, 113);
	border-radius: 100%;
	left: 50%;
	top: 10%;
	position: absolute;
	transform: translateX(-50%);
	box-shadow:0 2px 5px gray;
}
main .c2 div{background: rgb(96, 165, 250)}
main .c3 div{background: rgb(251, 191, 36)}
main .about{
	width: 60%;
	height: inherit;
	text-align: center;
	padding-top: 150px;
	transform: translate(30%,-60%);
}
main .about samp{
	font-size: 24px;
	color: gray;
}
main .about #samp2{
	font-size: 18px;
	color: gray;
}
main .about div{
	width: 150px;
	height: 150px;
	background: url("../images/DP.JPG");
	transform: translate(-50%,-50%);
	background-size: cover;
}